In [8]:
from pyspark.sql import SparkSession

In [9]:
#Start Spark Session
spark = SparkSession.builder.appName("chapter1").getOrCreate()\
        .config('spark.jars.packages', 'mysql:mysql-connector-java:8.0.32')\
        .getOrCreate()
sqlContext = SparkSession(spark)
#Dont Show warning only error
spark.sparkContext.setLogLevel("ERROR")

AttributeError: 'SparkSession' object has no attribute 'config'

In [3]:
url = 'jdbc:mysql://' + 'localhost' + ':' + '3306' + '/' + 'etl_data'
driver = "com.mysql.cj.jdbc.Driver"
user = 'root'
password = '111111'
sql = '(SELECT * FROM job) A'

In [5]:
job = spark.read.format('jdbc').options(url = url , driver = driver , dbtable = sql , user=user , password = password).load()

NameError: name 'spark' is not defined

In [7]:
job.show()

+---+----------+--------------------+----------------+--------------------+---------+----------------+-----------+-------------+-----------+--------------+-------------+-------------+-------------+------+------+-----+--------------------+----------------------+-------------------------+------------+----------+--------+----------+--------+--------+-----------+----------+--------------+------+
| id|created_by|        created_date|last_modified_by|  last_modified_date|is_active|           title|description|work_schedule|radius_unit|location_state|location_list|role_location|resume_option|budget|status|error|template_question_id|template_question_name|question_form_description|redirect_url|start_date|end_date|close_date|group_id|minor_id|campaign_id|company_id|history_status|ref_id|
+---+----------+--------------------+----------------+--------------------+---------+----------------+-----------+-------------+-----------+--------------+-------------+-------------+-------------+------+------+-----+--------------------+----------------------+-------------------------+------------+----------+--------+----------+--------+--------+-----------+----------+--------------+------+
|  2|     admin|2022-06-19 14:14:...|          myuser|2022-07-27 08:18:...|        1|   PHP Developer|Description|    FULL_TIME|       NULL|          NULL|         NULL|       REMOTE|     REQUIRED|    50|     1| NULL|                  16|                  NULL|                     NULL|     http://|      NULL|    NULL|      NULL|      10|       1|          1|         1|             2|     2|
|  3|     admin|2022-06-19 14:14:...|           admin|2022-07-27 08:18:...|        0|  Java Developer|Description|    FULL_TIME|       NULL|          NULL|         NULL|       REMOTE|     REQUIRED|  NULL|     2| NULL|                  17|                  NULL|                     NULL|     http://|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|     3|
|  4|     admin|2022-06-19 14:14:...|           admin|2022-07-27 08:18:...|        0|    C# Developer|Description|    FULL_TIME|       NULL|          NULL|         NULL|       REMOTE|     REQUIRED|  NULL|     2| NULL|                  18|                  NULL|                     NULL|     http://|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|     4|
|  5|     admin|2022-04-26 14:14:...|           admin|2022-07-27 08:18:...|        0|NodeJS Developer|Description|    FULL_TIME|       NULL|          NULL|         NULL|       REMOTE|     REQUIRED|  NULL|     2| NULL|                  19|                  NULL|                     NULL|     http://|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|     5|
|  6|     admin|2022-04-26 14:14:...|           admin|2022-07-27 08:18:...|        0|       Photoshop|Description|    Full Time|       NULL|          NULL|         NULL|       REMOTE|     Optional|  NULL|     2| NULL|                  20|                  NULL|                     NULL|     http://|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|     6|
|  7|     admin|2022-04-26 14:15:...|           admin|2022-07-27 08:18:...|        0|      Figma Team|Description|    FULL_TIME|       NULL|          NULL|         NULL|       REMOTE|     REQUIRED|  NULL|     2| NULL|                  21|                  NULL|                     NULL|     http://|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|     7|
|  8|     admin|2022-04-26 14:15:...|           admin|2022-07-27 08:18:...|        0|         IS Team|Description|    FULL_TIME|       NULL|          NULL|         NULL|       REMOTE|     REQUIRED|  NULL|     2| NULL|                  22|                  NULL|                     NULL|     http://|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|     8|
|  9|     admin|2022-04-26 14:15:...|           admin|2022-07-27 08:18:...|        0|     Design Team|Description|    FULL_TIME|       NULL|          NULL|         NULL|       REMOTE|     REQUIRED|  NULL|     2| NULL|                  23|                  NULL|                     NULL|     http://|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|     9|
| 39|     admin|2022-04-29 08:28:...|           admin|2022-07-27 08:18:...|        0|             123|     123123|    Full Time|       NULL|          NULL|         NULL|         NULL|     Required|  NULL|     3| NULL|                NULL|                  NULL|                     NULL|123123123123|      NULL|    NULL|      NULL|    NULL|       1|          1|         1|             1|    39|
| 40|     admin|2022-04-29 08:28:...|           admin|2022-07-27 08:18:...|        0|             123|     123123|    Full Time|       NULL|          NULL|         NULL|         NULL|     Required|  NULL|     2| NULL|                NULL|                  NULL|                     NULL|123123123123|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|    40|
| 41|     admin|2022-04-29 08:28:...|           admin|2022-07-27 08:18:...|        0|             123|     123123|    Full Time|       NULL|          NULL|         NULL|         NULL|     Required|  NULL|     5| NULL|                NULL|                  NULL|                     NULL|123123123123|      NULL|    NULL|      NULL|      10|       1|          1|         1|             2|    41|
| 42|     admin|2022-04-29 08:28:...|           admin|2022-07-27 08:18:...|        0|             123|     123123|    Full Time|       NULL|          NULL|         NULL|         NULL|     Required|  NULL|     5| NULL|                NULL|                  NULL|                     NULL|123123123123|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|    42|
| 43|     admin|2022-04-29 08:31:...|           admin|2022-07-27 08:18:...|        0|             123|     123123|    Full Time|       NULL|          NULL|         NULL|         NULL|     Required|  NULL|     3| NULL|                NULL|                  NULL|                     NULL|123123123123|      NULL|    NULL|      NULL|    NULL|       1|          1|         1|             1|    43|
| 44|     admin|2022-04-29 08:31:...|           admin|2022-07-27 08:18:...|        0|             123|     123123|    Full Time|       NULL|          NULL|         NULL|         NULL|     Required|  NULL|     2| NULL|                NULL|                  NULL|                     NULL|123123123123|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|    44|
| 45|     admin|2022-04-29 08:31:...|           admin|2022-07-27 08:18:...|        0|             123|     123123|    Full Time|       NULL|          NULL|         NULL|         NULL|     Required|  NULL|     2| NULL|                NULL|                  NULL|                     NULL|123123123123|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|    45|
| 46|     admin|2022-04-29 08:31:...|           admin|2022-07-27 08:18:...|        0|             123|     123123|    Full Time|       NULL|          NULL|         NULL|         NULL|     Required|  NULL|     2| NULL|                NULL|                  NULL|                     NULL|123123123123|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|    46|
| 47|     admin|2022-04-29 08:31:...|           admin|2022-07-27 08:18:...|        0|             123|     123123|    Full Time|       NULL|          NULL|         NULL|         NULL|     Required|  NULL|     2| NULL|                NULL|                  NULL|                     NULL|123123123123|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|    47|
| 48|     admin|2022-04-29 08:31:...|           admin|2022-07-27 08:18:...|        0|             123|     123123|    Full Time|       NULL|          NULL|         NULL|         NULL|     Required|  NULL|     5| NULL|                NULL|                  NULL|                     NULL|123123123123|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|    48|
| 49|     admin|2022-04-29 08:31:...|           admin|2022-07-27 08:18:...|        0|             123|     123123|    Full Time|       NULL|          NULL|         NULL|         NULL|     Required|  NULL|     2| NULL|                NULL|                  NULL|                     NULL|123123123123|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|    49|
| 50|     admin|2022-04-29 08:31:...|           admin|2022-07-27 08:18:...|        0|             123|     123123|    Full Time|       NULL|          NULL|         NULL|         NULL|     Required|  NULL|     2| NULL|                NULL|                  NULL|                     NULL|123123123123|      NULL|    NULL|      NULL|      10|       1|          1|         1|             1|    50|
+---+----------+--------------------+----------------+--------------------+---------+----------------+-----------+-------------+-----------+--------------+-------------+-------------+-------------+------+------+-----+--------------------+----------------------+-------------------------+------------+----------+--------+----------+--------+--------+-----------+----------+--------------+------+
only showing top 20 rows

In [32]:
url = 'jdbc:mysql://' + 'localhost' + ':' + '3306' + '/' + 'phuc'
driver = "com.mysql.cj.jdbc.Driver"
user = 'root'
password = '111111'
sql = '(SELECT * FROM group) A'

In [35]:
groups = spark.read.format('jdbc').options(url = url , driver = driver , dbtable = sql , user=user , password = password).load()

Py4JJavaError: An error occurred while calling o180.load.
: java.sql.SQLSyntaxErrorException: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'group) A WHERE 1=0' at line 1
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:120)
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:122)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeInternal(ClientPreparedStatement.java:916)
	at com.mysql.cj.jdbc.ClientPreparedStatement.executeQuery(ClientPreparedStatement.java:972)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.getQueryOutputSchema(JDBCRDD.scala:68)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:58)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation$.getSchema(JDBCRelation.scala:241)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:37)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:346)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:172)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:834)

In [5]:
# jobs.show()

In [29]:
# spark_new = SparkSession.builder.config('spark.jars.packages','com.datastax.spark:spark-cassandra-connector_2.12:3.1.0').getOrCreate()

In [ ]:
# data = spark_new.read.format("org.apache.spark.sql.cassandra").options(table = 'tracking_longth',keyspace = 'de_prj').load()